.started {
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  padding: 12px 22px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.35s;
}

.started:hover {
  background-color: rgb(99, 60, 156);
}

.download-btn {
  background-color: white;
  color: rgb(108, 117, 125);
 
  border: 1px solid rgb(108, 117, 125);
  padding: 12px 22px;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.35s,
    color 0.35s;
}

.download-btn:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}
